<div class="d-flex justify-content-between justify-content-center-md-down py-3 px-4">
	<div class="hide-lg-down">
		<div class="form-inline align-items-center">
			<label for="recordsPerPageLimit" class="h6 mb-0 mr-2">{{ languageData.pagination.records_per_page }}</label>

			<select ng-change="changeLimit(selectedLimit);" ng-model="selectedLimit" id="selectedLimit" name="selectedLimit" class="form-control" style="width: 80px;">
				<option ng-repeat="value in config.paginationRecords">{{ value }}</option>
			</select>
		</div>
		<div class="form-inline show-sm-lg">
			<select ng-change="changeLimit(selectedLimit);" ng-model="selectedLimit" id="selectedLimit" name="selectedLimit" class="form-control" style="width: 80px;">
				<option ng-repeat="value in config.paginationRecords">{{ value }}</option>
			</select>
		</div>
	</div>

	<div class="show-sm-lg">
		<div class="form-inline align-items-center">
			<select ng-change="changeLimit(selectedLimit);" ng-model="selectedLimit" id="selectedLimit" name="selectedLimit" class="form-control" style="width: 80px;">
				<option ng-repeat="value in config.paginationRecords">{{ value }}</option>
			</select>
		</div>
	</div>

	<div></div>

	<div>
		<dir-pagination-controls class="hide-md-down" max-size="10" direction-links="true" boundary-links="true" auto-hide="false" on-page-change="changePage(newPageNumber);"></dir-pagination-controls>
		<dir-pagination-controls class="hide-md-up" max-size="3" direction-links="true" boundary-links="true" auto-hide="false" on-page-change="changePage(newPageNumber);"></dir-pagination-controls>
	</div>

	<div></div>

	<div class="hide-lg-down form-inline align-items-center h6 m-0">
		<label class="mr-3">{{ languageData.pagination.current_page }} {{ currentPage }}/{{ pages }}</label>
		<label>{{ languageData.pagination.records }} {{ 1 + (limit * (currentPage - 1)) }}/{{ (currentPage * limit) }} {{ languageData.pagination.records_of }} {{ total }}</label>
	</div>

	<div class="show-sm-lg form-inline align-items-center h6 m-0">
		<label>{{ 1 + (limit * (currentPage - 1)) }}/{{ (currentPage * limit) }} of {{ total }}</label>
	</div>
</div>